.idea
/.idea
/Back-end/Ruby/Rails/aprender-generar-engine/blorgh/test/dummy/tmp/
/Back-end/Ruby/Rails/aprender-generar-engine/blorgh/test/dummy/cache
/Back-end/Ruby/Rails/aprender-generar-engine/unicorn/tmp/
/Back-end/Ruby/Rails/aprender-generar-engine/unicorn/node_modules/
/Back-end/Ruby/Rails/GoRails/rails_for_beginners/scheduled_tweets/tmp/
/Back-end/Ruby/Rails/GoRails/rails_for_beginners/scheduled_tweets/node_modules/