# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/


/Back-end/Ruby/Rails/aprender-generar-engine/blorgh/test/dummy/tmp/
/Back-end/Ruby/Rails/aprender-generar-engine/blorgh/test/dummy/cache
/Back-end/Ruby/Rails/aprender-generar-engine/unicorn/tmp/
/Back-end/Ruby/Rails/aprender-generar-engine/unicorn/node_modules/
/Back-end/Ruby/Rails/GoRails/rails_for_beginners/scheduled_tweets/tmp/
/Back-end/Ruby/Rails/GoRails/rails_for_beginners/scheduled_tweets/node_modules/
/Back-end/Ruby/Rails/friends/tmp/
/Back-end/Ruby/Rails/friends/node_modules/
/Back-end/Ruby/Rails/codigo-facilito/store_api/node_modules/
/Back-end/Ruby/Rails/codigo-facilito/store_api/test/dummy/tmp/
/Back-end/Ruby/Rails/codigo-facilito/store_api/test/dummy/cache/


# templates
# /Back-end/Ruby/Rails/codigo-facilito/store_api/node_modules/
# /Back-end/Ruby/Rails/codigo-facilito/store_api/test/dummy/tmp/
# /Back-end/Ruby/Rails/codigo-facilito/store_api/test/dummy/cache/

